/* CSS declarations go here */
body{
	font-family: 'Lato', sans-serif;
	background-color: rgba(121,189,154,0.8);
	background: url('/images/bg-dashboard.jpg') no-repeat center center fixed; 

}

.login_page{
	text-align: center;
	min-height:100%;
	padding-top: 15%;
	padding-bottom: 30%;
	background: url('/images/bg-home.jpg') no-repeat top center fixed; 
	font-family: 'Lato', sans-serif;
}


.login_form{
	/*background-color: #EBF9D7;*/
	background-color: rgba(235,249,215,0.5);
	/*opacity: 0.5;*/
	padding: 10px 10px;
	width: 30%;
	margin-left: 56%;	
	border-radius: 5px;
  margin-top: 25%;
}

.legend_welcome{
	color: rgba(59,134,134,1);
	font-size: 25px;
	font-weight: 900;
}

#login_username{
		text-align: center;

}

#login_button_style{
	padding: 3px 8px;
  font-size: 12px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  color: #fff;
  /*background-color: #3B8686;*/
  background-color: rgba(59,134,134,0.5);
  /*border-color: #357ebd;*/
}


/*Dashboard CSS*/

.greeting{
	font-size: 20px;
	text-align: right;
	color: white;
	padding: 10px;
}

.dashboard{
	text-align: center;
}

.dashboard h1{
	color: rgba(40,110,115,1);
	margin-bottom: 30px;
}


#hunt_button_new{
	padding: 3px 8px;
  font-size: 12px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  color: #fff;
  background-color: rgba(59,134,134,0.5);
  text-align: right;
  font-size: 14px;
  margin-bottom: 15px;
}

#hunt_button_edit{
	float: right;
}

#hunt_button_edit button{
  font-size: 12px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  color: #fff;
  background-color: rgba(59,134,134,0.5);
	margin: 5px;
}


#hunts_table {
	margin-top: 20px;
	align: center;
	width: 50%;
	background-color: rgba(255,255,255,0.5);
	margin: auto;
	margin-bottom: 30px;
}

/*Nav bar*/
.huntr_navbar{
	background-color: black;
}

/*Hunter editing page*/
#add_task_container{
	margin-top: 40px;
}

.edit_hunt_style{
	margin-left: 4%;
}

.error_message_style{
	color: red;
}

#buttons{
	padding: 3px 8px;
  font-size: 12px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  color: #fff;
  background-color: rgba(59,134,134,0.5);
  text-align: right;
  font-size: 14px;
  margin-bottom: 15px;
}

.new_task_style{
	float: left;
	font-color: black;
}

.input{
	margin-right: 5px;
}

.hunt_info{
	font-size: 18px;
	margin-left: 10px; 
	margin-right: 10px;
}